/* .login-body-ctn {
    display: flex;
    width: 100%;
    flex-direction: row; 
    align-items: center; 
    margin-top: 25px;
    height: 950px;
}

.register-form {
    display: flex;
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid rgb(147, 161, 165);
    border-radius: 10px; 
}

.body-left-ctn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
}

.body-right-cnt {
    display: flex;
    flex-direction: column;
    width: 30%;
    flex: 1;
    margin-top: 10px; 
}
.body-right-cnt span{
    margin-left: 20px;
    font-size: 20px;
}

.text-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 20px; 

}

.name-fields {
    display: flex;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;

}

.name-fields .MuiTextField-root {
   
    margin-right: 10px;
    
}


.username-field {
    display: flex;
    width: 81%; 
    margin-top: 20px; 
    margin-left: 20px; 
}


.password-fields {
    display: flex;
    width: 85%; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    
}

.password-fields  .MuiTextField-root {
    margin-right: 20px;
}
.register-button {
    display: flex;
    width: 125%;
    margin-left: 20px; 
    margin-top: 20px;
    margin-right: 30px; 
    justify-content: space-between;
}

.signup-logo{
    display: flex;
    margin-top: 50%;
   height: 200px;
   width: 200px;     
} */

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.login-body-ctn {
    @apply flex w-full flex-row items-center h-[950px] mt-[25px];
  }
  .register-form {
    @apply flex w-full max-w-[800px] border mx-auto my-5 p-5 rounded-[10px] border-solid border-[rgb(147,161,165)];
  }
  .body-left-ctn {
    @apply flex flex-col w-[70%] mt-5;
  }
  .body-right-cnt {
    @apply flex flex-col w-[30%] flex-1 mt-2.5;
  }
  .body-right-cnt span {
    @apply text-xl ml-5;
  }
  .text-header {
    @apply flex w-full flex-col ml-5;
  }
  .name-fields {
    @apply flex w-[90%] ml-5 mt-5;
  }
  .name-fields .MuiTextField-root {
    @apply mr-2.5;
  }
  .username-field {
    @apply flex w-[81%] ml-5 mt-5;
  }
  .password-fields {
    @apply flex w-[85%] ml-5 mr-2.5 mt-5;
  }
  .password-fields .MuiTextField-root {
    @apply mr-5;
  }
  .register-button {
    @apply flex w-[125%] justify-between ml-5 mr-[30px] mt-5;
  }
  .signup-logo {
    @apply flex h-[200px] w-[200px] mt-[50%];
  }
  